# For more information see:
# https://editorconfig.org

# This is the topmost EditorConfig file.
root = true

# Settings for all files.
[*]
indent_style = space
charset = utf-8

# JSFX scripts.
[*.{jsfx,jsfx-inc}]
indent_style = space
indent_size = 2
